In [29]:
import pandas as pd
import numpy as np

In [30]:
pkm = pd.read_csv('pokemon_table.csv', engine='python')

In [31]:
pkm.head()

   #                   Name Type 1  Type 2
0  1              Bulbasaur  Grass  Poison
1  2                Ivysaur  Grass  Poison
2  3               Venusaur  Grass  Poison
3  3  VenusaurMega Venusaur  Grass  Poison
4  4             Charmander   Fire     NaN

In [35]:
pkm['Type1ID'] = np.nan

In [36]:
pkm['Type2ID'] = np.nan

In [37]:
pkm.head()

   #                   Name Type 1  Type 2  Type1ID  Type2ID
0  1              Bulbasaur  Grass  Poison      NaN      NaN
1  2                Ivysaur  Grass  Poison      NaN      NaN
2  3               Venusaur  Grass  Poison      NaN      NaN
3  3  VenusaurMega Venusaur  Grass  Poison      NaN      NaN
4  4             Charmander   Fire     NaN      NaN      NaN

In [38]:
count = 0
for row in pkm.iterrows():
    if row[1][2] == 'Bug':
        pkm.at[count, 'Type1ID'] = 1
    if row[1][3] == 'Bug':
        pkm.at[count, 'Type2ID'] = 1
    if row[1][2] == 'Dark':
        pkm.at[count, 'Type1ID'] = 2
    if row[1][3] == 'Dark':
        pkm.at[count, 'Type2ID'] = 2
    if row[1][2] == 'Dragon':
        pkm.at[count, 'Type1ID'] = 3
    if row[1][3] == 'Dragon':
        pkm.at[count, 'Type2ID'] = 3
    if row[1][2] == 'Electric':
        pkm.at[count, 'Type1ID'] = 4
    if row[1][3] == 'Electric':
        pkm.at[count, 'Type2ID'] = 4
    if row[1][2] == 'Fairy':
        pkm.at[count, 'Type1ID'] = 5
    if row[1][3] == 'Fairy':
        pkm.at[count, 'Type2ID'] = 5
    if row[1][2] == 'Fighting':
        pkm.at[count, 'Type1ID'] = 6
    if row[1][3] == 'Fighting':
        pkm.at[count, 'Type2ID'] = 6
    if row[1][2] == 'Fire':
        pkm.at[count, 'Type1ID'] = 7
    if row[1][3] == 'Fire':
        pkm.at[count, 'Type2ID'] = 7
    if row[1][2] == 'Flying':
        pkm.at[count, 'Type1ID'] = 8
    if row[1][3] == 'Flying':
        pkm.at[count, 'Type2ID'] = 8
    if row[1][2] == 'Ground':
        pkm.at[count, 'Type1ID'] = 9
    if row[1][3] == 'Ground':
        pkm.at[count, 'Type2ID'] = 9
    if row[1][2] == 'Grass':
        pkm.at[count, 'Type1ID'] = 10
    if row[1][3] == 'Grass':
        pkm.at[count, 'Type2ID'] = 10
    if row[1][2] == 'Ghost':
        pkm.at[count, 'Type1ID'] = 11
    if row[1][3] == 'Ghost':
        pkm.at[count, 'Type2ID'] = 11
    if row[1][2] == 'Ice':
        pkm.at[count, 'Type1ID'] = 12
    if row[1][3] == 'Ice':
        pkm.at[count, 'Type2ID'] = 12
    if row[1][2] == 'Normal':
        pkm.at[count, 'Type1ID'] = 13
    if row[1][3] == 'Normal':
        pkm.at[count, 'Type2ID'] = 13
    if row[1][2] == 'Poison':
        pkm.at[count, 'Type1ID'] = 14
    if row[1][3] == 'Poison':
        pkm.at[count, 'Type2ID'] = 14
    if row[1][2] == 'Water':
        pkm.at[count, 'Type1ID'] = 15
    if row[1][3] == 'Water':
        pkm.at[count, 'Type2ID'] = 15
    if row[1][2] == 'Psychic':
        pkm.at[count, 'Type1ID'] = 16
    if row[1][3] == 'Psychic':
        pkm.at[count, 'Type2ID'] = 16
    if row[1][2] == 'Rock':
        pkm.at[count, 'Type1ID'] = 17
    if row[1][3] == 'Rock':
        pkm.at[count, 'Type2ID'] = 17
    if row[1][2] == 'Steel':
        pkm.at[count, 'Type1ID'] = 18
    if row[1][3] == 'Steel':
        pkm.at[count, 'Type2ID'] = 18
    count += 1

In [39]:
pkm.head(50)

     #                       Name    Type 1  Type 2  Type1ID  Type2ID
0    1                  Bulbasaur     Grass  Poison     10.0     14.0
1    2                    Ivysaur     Grass  Poison     10.0     14.0
2    3                   Venusaur     Grass  Poison     10.0     14.0
3    3      VenusaurMega Venusaur     Grass  Poison     10.0     14.0
4    4                 Charmander      Fire     NaN      7.0      NaN
5    5                 Charmeleon      Fire     NaN      7.0      NaN
6    6                  Charizard      Fire  Flying      7.0      8.0
7    6  CharizardMega Charizard X      Fire  Dragon      7.0      3.0
8    6  CharizardMega Charizard Y      Fire  Flying      7.0      8.0
9    7                   Squirtle     Water     NaN     15.0      NaN
10   8                  Wartortle     Water     NaN     15.0      NaN
11   9                  Blastoise     Water     NaN     15.0      NaN
12   9    BlastoiseMega Blastoise     Water     NaN     15.0      NaN
13  10                   Caterpie       Bug     NaN      1.0      NaN
14  11                    Metapod       Bug     NaN      1.0      NaN
15  12                 Butterfree       Bug  Flying      1.0      8.0
16  13                     Weedle       Bug  Poison      1.0     14.0
17  14                     Kakuna       Bug  Poison      1.0     14.0
18  15                   Beedrill       Bug  Poison      1.0     14.0
19  15      BeedrillMega Beedrill       Bug  Poison      1.0     14.0
20  16                     Pidgey    Normal  Flying     13.0      8.0
21  17                  Pidgeotto    Normal  Flying     13.0      8.0
22  18                    Pidgeot    Normal  Flying     13.0      8.0
23  18        PidgeotMega Pidgeot    Normal  Flying     13.0      8.0
24  19                    Rattata    Normal     NaN     13.0      NaN
25  20                   Raticate    Normal     NaN     13.0      NaN
26  21                    Spearow    Normal  Flying     13.0      8.0
27  22                     Fearow    Normal  Flying     13.0      8.0
28  23                      Ekans    Poison     NaN     14.0      NaN
29  24                      Arbok    Poison     NaN     14.0      NaN
30  25                    Pikachu  Electric     NaN      4.0      NaN
31  26                     Raichu  Electric     NaN      4.0      NaN
32  27                  Sandshrew    Ground     NaN      9.0      NaN
33  28                  Sandslash    Ground     NaN      9.0      NaN
34  29                 Nidoranƒ??    Poison     NaN     14.0      NaN
35  30                   Nidorina    Poison     NaN     14.0      NaN
36  31                  Nidoqueen    Poison  Ground     14.0      9.0
37  32                 Nidoranƒ??    Poison     NaN     14.0      NaN
38  33                   Nidorino    Poison     NaN     14.0      NaN
39  34                   Nidoking    Poison  Ground     14.0      9.0
40  35                   Clefairy     Fairy     NaN      5.0      NaN
41  36                   Clefable     Fairy     NaN      5.0      NaN
42  37                     Vulpix      Fire     NaN      7.0      NaN
43  38                  Ninetales      Fire     NaN      7.0      NaN
44  39                 Jigglypuff    Normal   Fairy     13.0      5.0
45  40                 Wigglytuff    Normal   Fairy     13.0      5.0
46  41                      Zubat    Poison  Flying     14.0      8.0
47  42                     Golbat    Poison  Flying     14.0      8.0
48  43                     Oddish     Grass  Poison     10.0     14.0
49  44                      Gloom     Grass  Poison     10.0     14.0

In [40]:
pkm.to_csv('new_pokemon_table.csv')